VITE_APPWRITE_URL='https://cloud.appwrite.io/v1',
VITE_APPWRITE_PROJECT_ID='664318af00078ec06eda',
VITE_APPWRITE_DATABASE_ID='66432c030015ac0b9963',
VITE_APPWRITE_COLLECTION_ID='66432c7400022a3a2b10',
VITE_APPWRITE_BUCKET_ID='66432e6000057b42d6f1',